# Address used for direct communication between Sveltekit server and Pocketbase
POCKETBASE_URL=http://localhost:8090

# Pocketbase URL for user interaction https://pocketbase.danzl.it
PUBLIC_POCKETBASE_URL=http://localhost:8090
# Frontend URL - Needed for CSRF e.g. https://skillshelf.danzl.it
ORIGIN=http://localhost:3000

POCKETBASE_ADMIN_EMAIL=admin@example.com
POCKETBASE_ADMIN_PASSWORD=your-password
